{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Inits/Modules/Libs/JSs -->
        {% block primary_modules %}
            {% include 'client_cp/head_init/primary.html' %}
        {% endblock primary_modules %}
        
        {% block additional_modules %}
        
        {% endblock additional_modules %}

        <title>Account's Panel{% if user.is_authenticated %} | Account: {{user}} {% endif %}</title>

    </head>

<body style="padding-top: 50px;">

            <!-- Navigation -->
            {% block cp_menu %}
                {% include 'client_cp/cp_menu.html' %}
            {% endblock cp_menu %}

            <!-- Dynamic content -->
            {% block dynamic_content %} 
            
            {% endblock dynamic_content %}

</body>

</html>