{% extends "client_cp/cp_base.html" %} 
{% load static %}

{% block additional_modules %}
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">
{% endblock additional_modules %}

{% block dynamic_content %} 

    <div class="login-dark">

        <form method="POST">

            {% csrf_token %}

            <div class="illustration">
                
                <i class="icon ion-ios-locked-outline">
                    <img src="{% static 'media/bs_icon.png' %}" alt="Icon" width="32px" height="32px">
                </i>
                Billing information
            </div>

            {% if messages %}

                {% for message in messages %}

                    {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}

                        <div class="alert alert-success" role="alert">
                            <strong>{{message}}</strong>
                        </div>

                    {% else %}

                        <div class="alert alert-primary" role="alert">
                            <strong>{{message}}</strong>
                        </div>

                    {% endif %}
                
                {% endfor %}

            {% endif %}

            <div class="form-group">
                {{ form.name }}
            </div>

            <div class="form-group">
                {{ form.surname }}
            </div>

            <div class="form-group">
                {{ form.address }}
            </div>

            <div class="form-group">
                {{ form.country }}
            </div>

            <div class="form-group">
                {{ form.city }}
            </div>

            <div class="form-group">
                {{ form.postcode }}
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Update</button>
                <a class="btn btn-secondary btn-block" href="{% url 'cp_edit_default' %}" role="button">Return to profile menu</a>
            </div>


        </form>

    </div>

{% endblock dynamic_content %}
