{% load static %}
<!doctype html>
<html lang="en">

<head>

    {% block primary_modules %}
        {% include 'client_cp/head_init/primary.html' %} 
    {% endblock primary_modules %}

    <title>Authentication</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body class="text-center">

    <div class="login-dark">
        <form method="post">
            
            {% csrf_token %}

            {% comment %} <h2 class="sr-only">Authentication</h2> {% endcomment %}

            <div class="illustration">
                <i class="icon ion-ios-locked-outline">
                    <img src="{% static 'media/icon_login.png' %}" alt="Authentication" width="128px" height="128px">
                </i>
            </div>

            {% if form.errors %}

                {% for field in form %}
                    {% for error in field.errors %}

                        <div class="alert alert-primary" role="alert">
                            <strong>{{ error }}</strong>
                        </div>

                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}

                    <div class="alert alert-primary" role="alert">
                        <strong>{{ error }}</strong>
                    </div>
                    
                {% endfor %}

            {% endif %}

            {% if messages %}
            
                {% for message in messages %}

                    <div class="alert alert-primary" role="alert">
                        {{ message }}
                    </div>
                
                {% endfor %}
            
            {% endif %}


            <div class="form-group">
                {{ form.email }}
            </div>

            <div class="form-group">
                {{ form.password }}
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Log In</button>
                <a class="btn btn-secondary btn-block" href="{% url 'register' %}" role="button">Register</a>
            </div>
            
            <a href="#" class="forgot">Return to the shop</a>
        </form>
    </div>

</body>
</html>