{% extends "client_cp/cp_base.html" %} 
{% load static %} 

{% block cp_menu %}

<!-- Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

    <a class="navbar-brand" href="{% url 'login' %}">
        <img src="{% static 'media/contact_icon.png' %}" width="30" height="30" class="d-inline-block align-top" alt="Icon" loading="lazy"> {% if user.is_authenticated %} Welcome, {{ user.getFullAccountName }} {% else %} Authentication {% endif %}
    </a>

    {% comment %} <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> {% endcomment %}

    {% if user.is_authenticated %}

    <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class="navbar-nav ml-auto">

              <li class="nav-item dropdown">

                  <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Profile
                  </a>

                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'cp_default' %}">View orders</a>
                      <a class="dropdown-item" href="{% url 'cp_edit_default' %}">Change account options</a>
                      <a class="dropdown-item" href="{% url 'logout' %}">Sign out</a>
                  </div>

              </li>
        
            <li class="nav-item">
                <a class="nav-link" href="{% url 'shop_default' %}">Return to the shop</a>
            </li>


        </ul>

    </div>    
    
    {% endif %}

</nav>

{% endblock cp_menu %}