{% extends "client_cp/cp_base.html" %} 
{% load static %}


{% block additional_modules %}

    <!-- Custom css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/cp_personal_selection.css' %}">
        
{% endblock additional_modules %}

{% block dynamic_content %} 

    <div class="box-1">
        <a class="btn btn-one" href="{% url 'cp_edit_personal' %}">Personal </br> information</a>
    </div>
    
    <div class="box-2">
        <a class="btn btn-one" href="{% url 'cp_edit_billing' %}">Billing </br> information</a>
    </div>

    <div class="box-3">
        <a class="btn btn-one" href="{% url 'cp_edit_shipment' %}">Shipment </br> information</a>
    </div>
            
{% endblock dynamic_content %}