{% extends 'client_cp/cp_base.html' %}
{% load static %}

{% block dynamic_content %} 
    <div>
            <h1>Current orders</h1>
            <h1>Displayed here</h1>
    </div>            
{% endblock dynamic_content %}