{% load static %}
<!doctype html>
<html lang="en">

<head>

    {% block primary_modules %}
        {% include 'client_cp/head_init/primary.html' %} 
    {% endblock primary_modules %}

    <title>Registration</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
</head>

<body class="text-center">

    <div class="login-dark">
        <form method="post">
            {% csrf_token %}

            <div class="illustration">
                <i class="icon ion-ios-locked-outline">
                    <img src="{% static 'media/icon_private.png' %}" alt="Registration" width="32px" height="32px">
                    Registration
                </i>
            </div>

            {% if form.errors %}

                {% for field in form %}
                    {% for error in field.errors %}

                        <div class="alert alert-primary" role="alert">
                            <strong>{{ error }}</strong>
                        </div>

                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <div class="alert alert-primary" role="alert">
                        <strong>{{ error }}</strong>
                    </div>
                {% endfor %}

            {% endif %}

            <div class="row mt-4">

                    <div class="col">
                        {{ form.email }}
                    </div>

            </div>

            <div class="row mt-4">

                    <div class="col">
                        {{ form.contact_phone }}
                    </div>

            </div>

            <div class="form-group mt-4">
                
                <div class="row">

                    <div class="col">
                        {{ form.name }}
                    </div>

                    <div class="col">
                        {{ form.surname }}
                    </div>

                </div>


                <div class="row mt-3">

                    <div class="col">
                        {{ form.password }}
                    </div>

                    <div class="col">
                        {{ form.password_confirm }}
                    </div>

                </div>

            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Proceed</button>
                <a class="btn btn-secondary btn-block" href="{% url 'login' %}">Return to authentication page</a>
            </div>
            
        </form>
    </div>

</body>
</html>