@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';
html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Open Sans Condensed', sans-serif;
}

div[class*=box] {
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div[class*=box]:hover {
    opacity: 1;
    transition: 1.5s;
}


/* Button selection */

.box-1 {
    background-image: url('../media/cp/selection/bg_button_letter.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.box-2 {
    background-image: url('../media/cp/selection/bg_button_billing.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.box-3 {
    background-image: url('../media/cp/selection/bg_button_shipment.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.8;
}

.btn {
    line-height: 50px;
    text-align: center;
    width: 33.33%;
    cursor: pointer;
}


/* 
========================
      BUTTON ONE
========================
*/

.btn-one {
    /* color: #FFF; */
    transition: all 0.3s;
    position: relative;
    font-size: 24px !important;
    font-weight: 600 !important;
}

.btn-one::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: #000000;
    border-bottom-color: #000000;
    transform: scale(0.1, 1);
}

.btn-one:hover {
    letter-spacing: 1px;
    font-weight: 700;
    transition: all 0.5s;
}

.btn-one:hover::before {
    opacity: 1;
    transform: scale(1, 1);
}

.btn-one::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
}

.btn-one:hover::after {
    opacity: 0;
    transform: scale(0.1, 1);
}