.login-dark {
    height: 1000px;
    background: #475d62 url(../media/bg_login.jpeg) no-repeat;
    /* background-size: cover; */
    position: relative;
    /* overflow: hidden; */
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-dark form {
    /* max-width: 640px; */
    /* min-width: 640px; */
    width: 45%;
    background-color: #222831;
    padding: 40px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.login-dark .illustration {
    text-align: left;
    padding: 15px 0 20px;
    /* font-size: 100px; */
    font-size: 32px;
    color: #2980ef;
}

.login-dark form .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid #434a52;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
}

.login-dark form .btn-primary {
    background: #30475e;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none;
}

.login-dark form .btn-primary:hover,
.login-dark form .btn-primary:active {
    background: #267cd1;
    outline: none;
}

.login-dark form .btn-secondary {
    background: #095845;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    /* margin-top: 26px; */
    text-shadow: none;
    outline: none;
}

.login-dark form .btn-secondary:hover,
.login-dark form .btn-secondary:active {
    background: #16c79a;
    outline: none;
}

.login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
}

.login-dark form .forgot:hover,
.login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
}

.login-dark form .btn-primary:active {
    transform: translateY(1px);
}