{% load static %}
<!DOCTYPE html>
<html>

    <head>

        <meta charset="utf-8">
        <title>Dashboard / Custom queries</title>

        <!-- ChartJS init -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js" integrity="sha512-hZf9Qhp3rlDJBvAKvmiG+goaaKRZA6LKUO35oK6EsM0/kjPK32Yw7URqrq3Q+Nvbbt8Usss+IekL7CRn83dYmw==" crossorigin="anonymous"></script>
        <script src={% static 'js/supply_chart.js' %}></script>
        <style>
            canvas#aggr_chart {
                width: 450px;
                height: 450px;
            }
        </style>
    </head>

    <body>

        <h2>Raw-type queries for Database theory assignment #3</h2>

        <!-- 1st query -->
        <h3>Multirelational query</h3>
        <h3>{{f_query_info}}</h3>
        <h4>Results:</h4>
        {% for row in f_query %}
            <h5>{{row}}</h5>
        {% endfor %}
        <br>

        <!-- 2nd query -->
        <h3>Multirelational query</h3>
        <h3>{{s_query_info}}</h3>
        <h4>Results:</h4>
        {% for row in s_query %}
            <h5>{{row}}</h5>
        {% endfor %}
        <br>

        <!-- 3rd query -->
        <h3>JOIN-type query</h3>
        <h3>{{join_query_info}}</h3>
        <h4>Results:</h4>
        {% for row in join_query %}
            <h5>{{row}}</h5>
        {% endfor %}
        <br>

        <!-- 4th query -->
        <h3>Aggregation-type query</h3>
        <h3>{{aggr_query_info}}</h3>
        <h4>Results:</h4>
        {% for row in aggr_query %}
            <h5>{{row}}</h5>
        {% endfor %}


        <canvas id="aggr_chart">
            <script>

                var ctx = document.getElementById('aggr_chart').getContext('2d');
                var myChart = new Chart(ctx, {

                    type: 'doughnut',

                    data: {

                        labels: [
                            {% for row in aggr_query %} '{{row.name}}', {% endfor %}
                        ],

                        datasets: [{

                            label: 'Fourth query',

                            data: [
                                {% for row in aggr_query %} {{row.counter}}, {% endfor %}
                            ],

                            backgroundColor: [
                                {% for row in aggr_query %} getRandomRGB(), {% endfor %}
                            ],

                            borderWidth: 1, 
                        }]
                    },

                    option: {
                        responsive:true,
                        maintainAspectRatio: false,
                    },
                });
            </script>
        </canvas>
        <br>

        <!-- 5th query -->
        <h3>View-based query</h3>
        <h3>{{view_query_info}}</h3>
        <h4>{{view_query_secondary}}</h4>

        {% for row in view_query %}

           <h5>{{row}}</h5>

        {% endfor %}


    </body>

</html>