{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Inits/Modules/Libs/JSs -->
        {% block primary_modules %}
            {% include 'client_cp/head_init/primary.html' %}
        {% endblock primary_modules %}
        
        {% block additional_modules %}
        
        {% endblock additional_modules %}

        <title>Shop{% if user.is_authenticated %} | Account: {{user}} {% endif %}</title>

         <link rel="stylesheet" href="{% static 'css/shop_default.css' %}">
    </head>

    <body style="padding-top: 50px;">

            <!-- Navigation -->
            {% block cp_menu %}
                {% include 'client_cp/cp_menu.html' %}
            {% endblock cp_menu %}

            <!-- Dynamic content -->
            {% block dynamic_content %} 

                <div class="jumbotron">
                    <h1 class="display-4">Welcome to the shop, {% if user.is_authenticated %}{{ user.name }}{% else %}customer{% endif %}!</h1>
                    <p class="lead">Here, you will be able to see the products that we offer!</p>
                    {% comment %} <hr class="my-4"> {% endcomment %}
                    {% comment %} <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> {% endcomment %}
                    {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
                </div>

                <h1 class="display-7">New offers</h1>

                <div class="card-deck">

                    {% for vending in new_vendings %}

                        <div class="card">

                            <img src="{{ vending.item_uid.display_image }}" class="card-img-top" alt="Display image">

                            <div class="card-body">
                                <h5 class="card-title">{{ vending.item_uid.item_name }}</h5>
                                <p class="card-text">{{ vending.item_uid.description }}</p>
                            </div>

                            <div class="card-footer">
                                <small class="text-muted">Price: {{ vending.price_per_item|floatformat:2 }}</small> </br>
                                <small class="text-muted">Introduced in {{ vending.vending_created_at }}</small> 
                            </div>

                        </div>
                    
                    {% endfor %}

                </div> 

            {% endblock dynamic_content %}

</body>

</html>